ConfigParser==7.2.0
contextlib2==21.6.0
cryptography==42.0.5
docutils>=0.20,<0.22
filelock==3.18.0
importlib_metadata==7.0.1
ipython==8.25.0
ipywidgets==7.8.1
Jinja2==3.1.6
jnius==1.1.0
keyring==24.3.1
mock==5.2.0
numpy==2.2.5
Pillow==11.2.1
protobuf==3.20.3
pyOpenSSL==25.0.0
railroad==0.5.0
redis==6.0.0
Sphinx==8.2.3
streamlit==1.32.0
thread==2.0.5
torch==2.7.0
torchvision==0.22.0
tornado==6.4.1
urllib3_secure_extra==0.1.0
